#header-root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

#header-root div {
    flex: 1 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}